@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcomes DUS2 Teamssssssssssssss</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web  with ASP.NET Core</a>.</p>
    <div class="card m-4">
        <div class="card-header bg-danger text-light">"Information"</div>
        <div class="card-body">
            <p>Thông tin: Khiem </p>
        </div>
    </div>
</div>
